/* About.css */

.about {
    background-color: #f7f7f7;
    padding: 5rem 0rem;
    animation: fadeIn 1s;
  }
  
  .about-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }
  
  .about-image {
    flex: 1;
    text-align: center;
  }
  
  .profile-image {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    animation: zoomIn 1s;
  }
  
  .about-details {
    flex: 1;
    font-family: 'Roboto Slab', serif;
    text-align: center;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #0056b3;
  }
  
  /* Animation for fadeIn */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes zoomIn {
    from {
      transform: scale(0);
    }
  
    to {
      transform: scale(1);
    }
  }
  