/* Contact.css */

.contact {
  background-color: #fff;
  padding: 4rem 0rem;
  position: relative;
  text-align: center;
  animation: fadeIn 1s;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
}

.section-title {
  font-size: 2rem;
  color: #000;
  /* Blue text color */
  margin-bottom: 2rem;
  animation: slideIn 1s;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  max-width: 600px;
  width: 100%;
  text-align: left;
}

.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

.submit-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.submit-button:hover {
  background-color: #333;
}

/* Animation for fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation for slideIn */
@keyframes slideIn {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}